body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.transport_graph{
    width: 300px;
    height: 200px;
}

.img_tag{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

h1, h2, h3 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin: 10px 0;
}

.report p {
    text-align: center;
}

.summary-list {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.summary-list > li {
    font-weight: bold;
    margin: 15px 0;
}

.summary-sublist {
    margin: 10px 0 10px 40px;
    text-align: left;
}

.summary-sublist li {
    margin: 5px 0;
}
