body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

.transport_graph{
    width: 300px;
    height: 200px;
}

.img_tag{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

h1, h2, h3 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

ul li {
    margin: 10px 0;
}

.report p {
    text-align: center;
}

.summary-list {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.summary-list > li {
    font-weight: bold;
    margin: 15px 0;
}

.summary-sublist {
    margin: 10px 0 10px 40px;
    text-align: left;
}

.summary-sublist li {
    margin: 5px 0;
}

.container_values {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
}

.card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    transition: transform 0.3s;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
}

.data_row {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.head, .values {
    margin: 0;
    font-size: 16px;
    text-align: left;
}

.head {
    font-weight: bold;
    color: #2c3e50;
    flex: 1;
}

.values {
    color: #34495e;
    flex: 1;
    text-align: right;
}
